body {
    background: rgb(253, 233, 188);
    color: rgb(158, 6, 158);
}

.navbar-brand {
    color: rgb(189, 179, 247) !important;
    font-family: 'Rock Salt', cursive;
    font-size: 2.2em;
}

/* font-family: 'Rock Salt', cursive;  ******
font-family: 'Cairo', sans-serif;  **
font-family: 'Varela Round', sans-serif; ****
*/

#author {
    font-style: italic;
    /* color: red !important; */
}

#rant {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(107, 106, 106);
}
