body {
    background: rgb(253, 233, 188);
    color: rgb(158, 6, 158);
}

.navbar-brand {
    color: rgb(189, 179, 247) !important;
    font-family: 'Rock Salt', cursive;
    font-size: 2.2em;
}

/* font-family: 'Rock Salt', cursive;  ******
font-family: 'Cairo', sans-serif;  **
font-family: 'Varela Round', sans-serif; ****
*/
